.jumbotron {
  background-size: cover;
  text-align: center;
}
.col {
  padding-top: 20px;
}
body {
  background-color: #282828;
  color: white;
  transition: background 0.2s linear;
}
td {
  font-size: 15px;
}
li {
  list-style-type: none;
}
.lead {
  margin-bottom: 40px;
}
.col-md-8 {
  border-bottom: darkgray solid 5px;
}
.col-md-8 span {
  color: orangered;
  font-weight: bolder;
  font-style: italic;
}
section {
  padding-top: 90px;
}
.btn {
  background: grey;
  color: black;
  font-weight: bolder;
  border-inline: none;
}
.btn:hover {
  color: white;
  font-weight: bolder;
  border-inline: none;
}

.carousel-caption h5 {
  color: orangered;
  -webkit-text-stroke: 0.5px black;
  font-weight: bolder;
}
.carousel-caption p {
  color: orangered;
  font-weight: bolder;
}

.row table {
  color: grey;
}
.container table {
  color: grey;
}
footer {
  color: white;
  height: 90px;
  margin-top: 100px;
}
footer h6 {
  color: white;
  padding-top: 35px;
  text-align: center;
}
.contactform {
  color: black;
  width: 700px;
  margin: auto;
  /* justify-content: center; */
}
.form-label {
  color: grey;
  font-weight: bolder;
}
.headingcontact {
  padding-bottom: 30px;
  text-align: center;
}

/* DarkMode or Light Mode */
body.light {
  background-color: #fff;
  color: black;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  background-color: yellow;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}
.label .redcircle {
  background-color: orangered;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .redcircle {
  transform: translateX(24px);
}

}
.collapse ul {
  margin-right: 30px;
}
